/* Common */
.wfForm .wfLeft {
    float: left;
}

/* Columns system */
.wfFieldContainer2ColsContainer:before {
    display: table;
    content: " ";
}

.wfFieldContainer2ColsContainer:after {
    clear: both;
}

.wfCol6 {
    width: 49.99%;
    float: left;
}

/* Fields */
.wfForm .wfFieldContainer {
    margin: 0 0 10px 0;
}

.wfForm .wfFieldContainer label.wfFieldLabel {
    display: block; margin: 0 3px 3px 0;
}

.wfForm .wfFieldContainer label.wfFieldLabel .wfFieldLabelRequiredMark {
    padding-left: 3px;
}

.wfForm .wfFieldContainer input.wfFieldInput, .wfForm .wfFieldContainer textarea.wfTextArea, .wfForm .wfFieldContainer select.wfDropDownList {
    display: block; width: auto; margin: 0; box-sizing: border-box;
}

.wfForm .wfFieldContainer input.wfWidth100, .wfForm .wfFieldContainer span.wfWidth100, .wfForm .wfFieldContainer textarea.wfWidth100, .wfForm .wfFieldContainer select.wfWidth100 {
    width: 100%;
}

.wfForm .wfFieldContainer .wfTable {
    display: table; width: 100%; table-layout: fixed;
}

.wfForm .wfFieldContainer label.wfCell {
    white-space: nowrap; padding-right: 3px;
}

.wfForm .wfFieldContainer label.wfCell, .wfForm .wfFieldContainer span.wfCell, .wfForm .wfFieldContainer input.wfCell {
    display: table-cell; vertical-align: middle;
}

.wfForm .wfFieldContainer label.wfFieldLabelAlignRight, .wfForm .wfFieldContainer .wfFieldTextAlignRight {
    text-align: right;
}

.wfForm .wfFieldContainer label.wfFieldLabelAlignLeft, .wfForm .wfFieldContainer .wfFieldTextAlignLeft {
    text-align: left;
}

.wfForm .wfFieldContainer label.wfFieldLabelAlignCenter, .wfForm .wfFieldContainer .wfFieldTextAlignCenter {
    text-align: center;
}

.wfForm .wfFieldContainer label.wfCheckboxesLabel, .wfForm .wfFieldContainer label.wfRadioButtonsLabel {
    display: inline-block; margin: 0; margin-right: 10px;
}

.wfForm .wfFieldContainer input.wfCheckboxes, .wfForm .wfFieldContainer input.wfRadioButtons {
    display: inline-block; width: auto; margin: 0; box-sizing: border-box; margin-right: 2px;
}

.wfForm .wfFieldSimpleCaptchaContainer span.wfFieldSimpleCaptchaCalculation {
    display: inline-block;
}

.wfForm .wfFieldSimpleCaptchaContainer input.wfFieldInput {
    display: inline-block; max-width: 50px;
}

.wfForm .wfFieldContainer span.wfFieldLayout1col > label {
    width: 99%;
}

.wfForm .wfFieldContainer span.wfFieldLayout2cols > label {
    width: 49%; margin-right: 0; padding: 0; padding-right: 2px;
}

.wfForm .wfFieldContainer span.wfFieldLayout3cols > label {
    width: 32%; margin-right: 2px; padding: 0;
}

.wfForm .wfFieldContainer span.wfFieldLayout4cols > label {
    width: 24%; margin-right: 1px; padding: 0;
}

    /* Validation errors */
.wfForm p.wfValidationErrorMessage {
    margin: 0; padding: 2px 0; color: #ff0000;
}

.wfForm h4.wfFormSubmissionError {
    margin: 10px 0; padding: 2px 0; color: #ff0000;
}

.wfForm .wfFieldTextInputContainer.wfFieldValidationError input, .wfForm .wfFieldTextAreaContainer.wfFieldValidationError textarea, .wfForm .wfFieldDropDownListContainer.wfFieldValidationError select {
    border: 1px solid #ff0000;
}