/**
 * WiseForms admin core CSS.
 *
 * @author Kainex <contact@kaine.pl>
 */

.wfAdminPage #poststuff h3.hndle {
    background-color: #4F3B5E; border: 1px solid #4F3B5E; border-bottom: none;
    color: #fff;
}

.wfAdminPage .wfTabsContentWrap section {
    min-height: 800px;
}

/* Common styles: */
.wfClear {
    clear: both; line-height: 0.1%; font-size: 0.1%; height: 0.1%;
}

.wfLeft {
    float: left;
}

.wfHidden {
    display: none;
}

.wfFullWidth {
    width: 100%;
}


/* Designer layout styles: */
.wfDesigner {
    overflow: hidden;
}

.wfDesigner ul {
    list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;
}
.wfDesigner li {
    margin: 5px; padding: 5px; width: auto;
}

.wfDesigner ul li.ui-state-highlight {
    border: 1px dashed #9a9a9a; height: 10px;
}

.wfDesigner .wfDesignerLeft {
    float: left; width: 250px;
}

.wfDesigner .wfDesignerCenter {
    margin: 0; margin-right: 250px; overflow-x: auto; white-space: nowrap;
}

.wfDesigner .wfDesignerRight {
    float: right; width: 250px;
}

.wfDesigner .wfDesignerForm {
    width: 500px; margin: 0 auto;
    background-color: #dedede; border: 1px solid #aeaeae;
}

.wfDesigner .wfDesignerToolBox {
    background-color: #dedede;
}

.wfDesigner .wfDesignerToolBox h4 {
    margin: 0; padding: 8px 12px; text-align: center; font-weight: normal;
    background-color: #4F3B5E; color: #fff;
    font-size: 14px; line-height: 1.4; border: 1px solid #4F3B5E; border-bottom: none;
}

.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent {
    margin: 0; padding: 5px; border: 1px solid #aeaeae; border-top: none;
}

.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent p {
    margin: 0; margin-bottom: 5px;
}

.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent table {
    width: 100%;
}
.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent table input {
    margin-left: 0; margin-right: 0;
}

.wfDesigner .wfDesignerToolBox .wfDesignerFieldTemplate {
    cursor: pointer; margin-left: 0; margin-right: 0; padding-left: 35px; padding-right: 0;
}

.wfDesigner .wfDesignerToolBox .wfIconTextInput {
    background: url(../../icons/type-box.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconTextEditor {
    background: url(../../icons/text-editor.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconParagraph {
    background: url(../../icons/left-side-alignment.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIcon2Columns {
    background: url(../../icons/columns.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconSubmit {
    background: url(../../icons/ok-button.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconDropDownList {
    background: url(../../icons/drop-down-list.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconCheckbox {
    background: url(../../icons/ticked-box.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconRadioButton {
    background: url(../../icons/check-circle.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfIconSimpleCaptcha {
    background: url(../../icons/shield.png) center left no-repeat;
}

.wfDesigner .wfDesignerToolBox .wfDesignerFieldsInstancePropertiesHint {
    border: 2px dashed #9a9a9a; margin-bottom: 0; padding: 5px; display: block; text-align: center;
}

.wfDesigner .wfDesignerFieldsContainer {
    min-height: 50px;
}

.wfDesigner .wfDesignerFieldsContainer .wfDesignerFieldsHint {
    color: #9a9a9a; font-size: 1.5em; text-align: center;
}

.wfDesigner .wfDesignerFieldsContainerHinted {
    border: 2px dashed #9a9a9a; margin-bottom: 0; padding-top: 5px;
}

.wfDesigner .wfDesignerFieldInstanceProperties .wfParagraphType textarea {
    height: 200px;
}

.wfDesigner .wfDesignerFieldInstanceProperties .wfDropDownListType textarea {
    height: 200px;
}

.wfDesigner .wfDesignerFieldInstanceProperties .wfCheckboxesType textarea {
    height: 200px;
}

.wfDesigner .wfDesignerFieldInstanceProperties .wfRadioButtonsType textarea {
    height: 200px;
}

/* Form preview styles: */

.wfDesigner .wfFieldInstance.wfFieldInstanceHovered {
    background-color: rgba(172, 159, 204, 0.19);
}

.wfDesigner .wfFieldInstance .wfFieldLabel {
    display: block; margin: 0 3px 3px 0;
}

.wfDesigner .wfFieldInstance .wfTable {
    display: table; width: 100%; table-layout: fixed;
}

.wfDesigner .wfFieldInstance .wfCell {
    display: table-cell; vertical-align: middle;
}

.wfDesigner .wfFieldInstance .wfHidden {
    display: none;
}

.wfDesigner .wfFieldInstance .wfWidth100 {
    width: 100%;
}

.wfDesigner .wfFieldInstance p {
    margin: 0 2px;
}

.wfDesigner .wfFieldInstance .wfFieldCheckboxesContainer > label {
    display: inline-block;
}

.wfDesigner .wfFieldInstance .wfFieldCheckboxesContainer > label > span {
    display: inline-block; margin-right: 5px;
}

.wfDesigner .wfFieldInstance .wfFieldSimpleCaptchaInput {
    max-width: 50px;
}

.wfDesigner .wfFieldInstance .wfFieldCheckboxesContainer.wfFieldLayout1col > label {
    width: 99%;
}

.wfDesigner .wfFieldInstance .wfFieldCheckboxesContainer.wfFieldLayout2cols > label {
    width: 49%;
}

.wfDesigner .wfFieldInstance .wfFieldCheckboxesContainer.wfFieldLayout3cols > label {
    width: 32.5%;
}

.wfDesigner .wfFieldInstance .wfFieldCheckboxesContainer.wfFieldLayout4cols > label {
    width: 24.5%;
}

.wf2Col {
    width: 48%; float: left; display: block; min-height: 20px;
    margin: 2px; border: 1px dashed #9a9a9a;
}

.wf2ColLast {
    float: right;
}

.wf100RemaingWidth {
    display: block; overflow: hidden; padding-right: 5px; padding-left: 5px;
}

.wf100RemaingWidth > input, .wf100RemaingWidth > textarea, .wf100RemaingWidth > select {
    width: 100%;
}

.wfWordWrap {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}