/**
 * WiseForms admin core CSS.
 *
 * @author Kainex <contact@kaine.pl>
 */

.wfAdminPage #poststuff h3.hndle {
    background-color: #4F3B5E; border: 1px solid #4F3B5E; border-bottom: none;
    color: #fff;
}

/* Common styles: */
.wfClear {
    clear: both; line-height: 0.1%; font-size: 0.1%; height: 0.1%;
}

.wfLeft {
    float: left;
}

.wfHidden {
    display: none;
}

.wfFullWidth {
    width: 100%;
}


/* Designer layout styles: */
.wfDesigner {
    overflow: hidden;
}

.wfDesigner ul {
    list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;
}
.wfDesigner li {
    margin: 5px; padding: 5px; width: auto;
}

.wfDesigner .wfDesignerLeft {
    float: left; width: 250px;
}

.wfDesigner .wfDesignerCenter {
    margin: 0 250px; overflow-x: auto; white-space: nowrap;
}

.wfDesigner .wfDesignerRight {
    float: right; width: 250px;
}

.wfDesigner .wfDesignerForm {
    width: 500px; margin: 0 auto;
    background-color: #dedede; border: 1px solid #aeaeae;
}

.wfDesigner .wfDesignerToolBox {
    background-color: #dedede;
}

.wfDesigner .wfDesignerToolBox h4 {
    margin: 0; padding: 8px 12px; text-align: center; font-weight: normal;
    background-color: #4F3B5E; color: #fff;
    font-size: 14px; line-height: 1.4; border: 1px solid #4F3B5E; border-bottom: none;
}

.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent {
    margin: 0; padding: 5px; border: 1px solid #aeaeae; border-top: none;
}

.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent p {
    margin: 0; margin-bottom: 5px;
}

.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent table {
    width: 100%;
}
.wfDesigner .wfDesignerToolBox .wfDesignerToolBoxContent table input {
    margin-left: 0; margin-right: 0;
}

.wfDesigner .wfDesignerToolBox .wfDesignerFieldTemplate {
    cursor: pointer; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;
}

.wfDesigner .wfDesignerFieldsContainer {
    min-height: 50px;
}

.wfDesigner .wfDesignerFieldsContainer .wfDesignerFieldsHint {
    color: #9a9a9a; font-size: 1.5em; text-align: center;
}

.wfDesigner .wfDesignerFieldsContainerHinted {
    border: 2px dashed #9a9a9a; margin-bottom: 0; padding-top: 5px;
}

/* Form preview styles: */
.wf2Col {
    width: 48%; float: left; display: block; min-height: 20px;
    margin: 2px; border: 1px dotted #aeaeae;
}

.wf2ColLast {
    float: right;
}

.wf100RemaingWidth {
    display: block; overflow: hidden; padding-right: 5px; padding-left: 5px;
}

.wf100RemaingWidth > input, .wf100RemaingWidth > textarea {
    width: 100%;
}