/* Default tab style */
/* https://icomoon.io/app/#/select/font */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../../fonts/icomoon/icomoon.eot?u58ytb');
	src:url('../../fonts/icomoon/icomoon.eot?#iefixu58ytb') format('embedded-opentype'),
		url('../../fonts/icomoon/icomoon.woff?u58ytb') format('woff'),
		url('../../fonts/icomoon/icomoon.ttf?u58ytb') format('truetype'),
		url('../../fonts/icomoon/icomoon.svg?u58ytb#icomoon') format('svg');
}

.wfTabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}

/* Nav */
.wfTabs nav {
	text-align: center;
	font-weight: 300;
	font-size: 1.25em;
}

.wfTabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.wfTabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.wfTabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	text-decoration: none;
}

.wfTabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.wfTabs nav li.tab-current a {
	color: #74777b;
}

.wfTabs nav a:focus {
	outline: none;
	box-shadow:none;
}

.wfTabs nav ul li.tab-current a:active {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-start::before {
	content: "\e900";
}
.icon-fields::before {
	content: "\e9ba";
}
.icon-messages::before {
	content: "\ea8e";
}
.icon-mail::before {
	content: "\ea84";
}

/* Content */
.wfTabsContentWrap {
	position: relative;
}

.wfTabsContentWrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
}

.wfTabsContentWrap section.content-current {
	display: block;
}

@media screen and (max-width: 58em) {
	.wfTabs nav a.icon span {
		display: none;
	}
	.wfTabs nav a:before {
		margin-right: 0;
	}
}

.tabs-style-flip nav a {
	padding: 0.5em 0;
	color: #4F3B5E;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
	color: #74777b;
}

.tabs-style-flip nav a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.625em;
}

.tabs-style-flip nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
	transform: perspective(900px) rotate3d(1,0,0,90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
	background-color: #fff;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
	transform: perspective(900px) rotate3d(1,0,0,0deg);
}

.tabs-style-flip .wfTabsContentWrap {
	background: #fff;
}